<template>
  <section class="services pt-60 pb-60" id="services">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">

          <div class="section-title text-center mb-40">
            <h4>Restaurants services </h4>


          </div>

          <div class="d-flex justify-content-center">
            <div class="searchbar">
              <form  @submit.prevent="submit">
              <input class="search_input" type="text" v-model="place" placeholder="Search..." >

              </form>
            </div>

          </div>
        </div>
      </div>
      <div class="box">
        <rotate-square2 v-if="spinner == true" spinner-container></rotate-square2>
      </div>

      <div class="row" >
        <div class="col-md-12 col-sm-12 text-center" v-if="err == true">
          <texterr></texterr>
        </div>

        <div class="col-md-6 col-sm-12" v-for="data in restaurant">

          <listcard :data="data"></listcard>

        </div>

      </div>
    </div>
  </section>



</template>

<script>
  import getRestaurant from '@/services/place'
  import Listcard from "../components/listcard"
  import Spinner from "../components/spinner"
  import {RotateSquare2} from 'vue-loading-spinner'
  import Texterr from "../components/texterr";
   export default {
    components: {Texterr, Spinner, Listcard, RotateSquare2},

    data: () => ({
      restaurant : null,
      place : null,
      spinner : false,
      err : false
    }),
    created () {
      const req = {
        location : "บางซื่อ",
        type : "json",
        category : "restaurants",
        err : false
      }
      this.spinner = true
      this.restaurant = null
      getRestaurant(req).then((data) =>{
        this.spinner = false
        this.restaurant = data
      }).catch(error => {
        this.spinner = false
        this.err = true
      })
    },
    methods: {
      submit() {
        const req = {
          location : this.place,
          type : "json",
          category : "restaurants"
        }
        this.spinner = true
        this.restaurant = null
        this.err = false
        getRestaurant(req).then((data) =>{
          this.spinner = false
          this.restaurant = data
        }).catch(error => {
          this.spinner = false
          this.err = true
        })
      }
    }
  }
</script>



