<template>
    <div class="single_service service_right" >
        <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/services/service-1.png" alt="">
        <h4>{{ data.name }}</h4>
        <p>{{ data.formatted_address }}.</p>
    </div>
</template>

<script>
    export default {
        name: "listcard",
        props : ["data"]

    }
</script>

<style scoped>

</style>