<template>
    <span >
            You have exceeded your daily request quota for this API. please wait 30 seconds and try again.
    </span>
</template>

<script>
    export default {
        name: "texterr"
    }
</script>

<style scoped>

</style>